# Eksplorasi dataframe dg Pandas
Nama : Muhammad Rezzha Riamrizal Arsya
Nim  : 22.21.1545

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('diabetes.csv')

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
# Melihat jumlah kolom dan baris
df.shape

(768, 9)

In [5]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [11]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [9]:
# Melihat informasi dan tipe data kolom di dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [26]:
# Berapakah jumlah data Outcome = 1 ?
# Berapakah jumlah data Outcome = 0 ?

df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [27]:
# Berapakah rata2 kolom Age ?
df['Age'].mean()

33.240885416666664

In [32]:
# Berapakah nilai min dan max dari kolom Glucose ?

In [28]:
df['Glucose'].min()

0

In [29]:
df['Glucose'].max()

199

# Filter data

### 1. Buatkan filter data outcome yang nilainya menampilkan angka 1

### 2. Tampilkan data kolom dan baris

### 3. Tampilkan data 10 data teratas

### 4. Buatkan dataframe baru dengan nama (df_1_bp_50) yang isinya outcome